.progress-container, .result-container {
  margin: 20% auto;
  text-align: center;
}

.result-container {
  margin: 20px auto;
}

.search-text {
  margin: 15% auto;
  padding: 0 20px;
}

.sub-heading {
  text-align: center;
  line-height: 1.2em;
  font-weight: 300;
}

.btn-download {
  max-width: 280px;
  margin: 4px auto;
}

