.search {
  /*width: 100vw;*/
}

.search-container {
  max-width: 720px;
  margin: 50px auto;
}

.search-container form {
  margin: 30px 0 0;
}

.sub-heading {
  text-align: center;
}

.or {
  margin: 30px 0 0 0;
  text-align: center;
}

hr.and {
  border-top: 1px solid #8c8b8b;
  padding: 6px;
  margin: 2em 20% 2em 20%;
  text-align: center;
}

hr.and:after {
  content: 'AND';
  display: inline-block;
  position: relative;
  top: -16px;
  padding: 0 3px;
  color: #8c8b8b;
  background: #f6f6f6;
  font-size: 1em;
}


/** Autocomplete suggestions **/

.suggestions {
  position: absolute;
  max-width: 600px;
  width: calc(100% - 20px);
  background: white;
  z-index: 10;
  /*box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);*/
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175)
  /*border: none;*/
}

.suggestions ul {
  padding: 0px;
  margin: 0px;
}


/*.container{
	width:600px;
	margin-left:10px;
	margin-top:10px;
}*/

.suggestions ul li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.suggestions ul li a {
  padding: 5px;
  display: block;
  text-decoration: none;
  color: #7E7E7E;
}

.suggestions ul li a:hover {
  background-color: #f1f1f1;
}

.btn-search {
  max-width: 320px;
  margin: 30px auto 0 auto;
}
