<div class="col-sm-12 table-scrollable">
    <table id="example" class="table table-striped table-bordered"
           cellspacing="0" width="100%">
        <thead>
        <tr class="table-head">
            <th>Sr No.</th>
            <th *ngFor="let heading of headings"
                [ngClass]="{'success': heading == 'classification' }">
                {{heading}}
            </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of tableData; let i = index">
            <td class="sr-no">
                <div>
                    <span>{{i+1}}.</span>
                    <input type="checkbox"
                           *ngIf="selectable"
                           (change)="updateSelection(i, $event)"/>
                </div>

            </td>
            <td *ngFor="let heading of headings"
                [ngClass]="{'success': heading == 'classification' }">
                <p #el>{{data[heading] | highlightText: [el, heading] |
                    transformToLink: el}}</p>
            </td>
        </tr>
        </tbody>
    </table>
</div>
