<div class="container">
  <div class="row login-container">
    <div class="col-sm-6">
      <div class="card card-container login">
        <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
        <h1 id="profile-img" class="profile-img-card">Login</h1>
        <!-- <p class="welcome-note">Welcome back. Login to your account below.</p> -->
        <p class="welcome-note">Login to your account below.</p>
        <p id="profile-name" class="profile-name-card"></p>
        <form class="form-signin">
          <input class="form-control" id="inputdefault" type="text" placeholder="you@youremail.com">
          <input class="form-control" id="inputdefault" type="text" placeholder="password">

          <div id="remember" class="checkbox">
            <label>
              <input type="checkbox" value="remember-me"> Remember me
            </label>
          </div>

          <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
          <a href="#" class="forgot-password">Forgot the password?</a>

          <hr class="or">
            <google_button></google_button>
            <linkedIn_button></linkedIn_button>
        </form>
      </div>
    </div>
    <div class="col-sm-6 hidden-xs">
      <div class="athena-info-container">
        <p class="info">
          GET TO KNOW US
          <p>
            <p class="about-us">
              At Athena Insights, we believe that the best solutions come from the people who are most affected by the problem. We have dedicated our lives to working with these communities - providing whatever support they need in order to unlock their potential.
              We want all individuals to envision their goals and realize they have the ability to make their dreams a reality.
            </p>
      </div>
    </div>
  </div>
</div>


<!--<div>-->
  <!--<athena-search></athena-search>-->
<!--</div>-->
